.npmignore
.gitignore
.vscode/**
src/**
mockups/**
release/**
*.tgz
*.vsix
*.map
tsconfig.json
package-lock.json
node_modules/**/*.md
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/.github/**
